.wtxt {
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.padding-md {
  padding: 120px;
}

.padding-sm {
  padding: 60px;
}

.all-c-w {
  font-size: 16pt;
}

.helpus {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: linear-gradient(to right, #ff6a28, #fe2f57);
  padding: 20px;
  border-radius: 20px;
  opacity: 0.7;
  cursor: pointer;
  transform: scale(0);
  transition: all 1s;
  z-index: 3;
  /* border: 5px solid black; */
}

.helpus:hover {
  opacity: 1;
}

pt {
  color: white;
}

.navbar {
  height: 10vh;
  width: 100%;
}

.mainNav > .container > .nav {
  height: 10vh;
}

.nav-item {
  height: 100%;
  width: 20%;
}

.nav-link {
  font-weight: 400;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.nav-link pt {
  color: #380438;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  background-color: #380438;
}

.nav-item:hover .nav-link pt {
  color: white;
}

.nav-item:hover .btlogo {
  background-color: #380438;
  border: 5px solid #380438;
}

.navbar-brand {
  width: 100%;
}

.mNav {
  display: none;
}

.btlogo {
  width: 100%;
  padding: 40px;
  position: relative;
  /* top: 35px; */
  left: 50%;
  top: 80px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid white;
}

.header {
  width: 100%;
  height: 90vh;
  background-image: url("/img/sp2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header .container {
  height: 100%;
}

.head-content-square {
  position: relative;
  width: 100%;
  height: 60%;
  top: 10%;
}

.scName {
  padding: 65px;
}

.aybulogo {
  width: 10%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.stsinfo {
  font-size: 40pt;
}

.yrtinfo {
  font-size: 80pt;
  transform: scale(0);
  opacity: 0;
  transition: all 1s;
}

.ybuinfo,
.stsinfo,
.aybulogo {
  opacity: 0;
  transition: all 2s;
}

.rocketimg {
  position: relative;
  animation: rocket 5s forwards;
}

@keyframes rocket {
  0% {
    width: 44%;
    top: -774px;
    right: -1215px;
    transform: rotate(-67.8deg);
  }
  100% {
    top: 0;
    right: 0;
    width: 100%;
    margin-top: -45px;
  }
}

.about,
.project,
.ranking,
.pictures {
  width: 100%;
  min-height: 80vh;
}

.ranking {
  background-color: #380438;
}

.aboutHead,
.projectHead,
.rankingHead,
.picHead,
.footerHead {
  height: 10vh;
}

.aboutHead-c,
.projectHead-c,
.rankingHead-c,
.picHead-c {
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  transition: 1s;
}

.aboutHead-c-List,
.projectHead-c-List,
.rankingHead-c-List,
.picHead-c-List {
  display: flex;
}

.ac1,
.ac2,
.ac3,
.ac4,
.ac5,
.pc1,
.pc2,
.pc3,
.pc4,
.pc5,
.rc1,
.rc2,
.rc3,
.rc4,
.rc5,
.picc1,
.picc2,
.picc3,
.picc4,
.picc5 {
  width: 25%;
  height: 5px;
  opacity: 0;
  margin-top: 100px;
}

.ac1,
.pc1,
.rc1,
.picc1 {
  transition: 0.2s;
}

.ac2,
.pc2,
.rc2,
.picc2 {
  transition: 0.4s;
}

.ac3,
.pc3,
.rc3,
.picc3 {
  transition: 0.6s;
}

.ac4,
.pc4,
.rc4,
.picc4 {
  transition: 0.8s;
}
.ac5,
.pc5,
.rc5,
.picc5 {
  transition: 1s;
}

.ac1,
.ac5,
.pc1,
.pc5,
.picc1,
.picc5 {
  background-color: rgba(56, 3, 55, 0.3);
}

.rc1,
.rc5 {
  background-color: rgba(255, 255, 255, 0.3);
}

.ac2,
.ac4,
.pc2,
.pc4,
.picc2,
.picc4 {
  background-color: rgba(56, 3, 55, 0.6);
}

.rc2,
.rc4 {
  background-color: rgba(255, 255, 255, 0.6);
}

.ac3,
.pc3,
.picc3 {
  background-color: rgba(56, 3, 55, 1);
}

.rc3 {
  background-color: rgba(255, 255, 255, 1);
}

.aboutHead p,
.projectHead p,
.rankingHead p,
.picHead p,
.footerHead p {
  font-size: 36pt;
}

.rankingHead p,
.footerHead p {
  color: white;
}

.cnt-padding {
  padding-top: 50px;
}

.aboutimg,
.rocketgif {
  width: 100%;
}

.rankingimg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.pic {
  width: 100%;
}

.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.columns {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columns img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.wh {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  min-height: 40vh;
  background-color: #380438;
}

.footerHead-c {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contact {
  display: flex;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 30px;
  width: 100%;
}

.c-circle {
  padding: 15px;
  background-color: white;
  border-radius: 50px;
  margin: 0 10px 0 10px;
}

.c-circle i {
  color: #380438;
  font-size: xx-large;
  transition: all 1s;
}

.circle-instagram:hover i {
  transform: rotate(360deg);
}

.circle-tw:hover i {
  transform: rotate(360deg);
}

.circle-in:hover i {
  transform: rotate(360deg);
}

.circle-mail:hover i {
  transform: rotate(360deg);
}
.circle-address:hover i {
  transform: rotate(360deg);
}

.loc {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin-top: 30px;
  display: none;
}

.loc iframe {
  width: 100%;
  height: 100%;
  border: 5px solid;
}

.loc p {
  color: white;
  font-size: 16pt;
}

@media screen and (max-width: 992px) {
  .btlogo {
    padding: 10px;
  }

  .yrtinfo {
    font-size: 55pt;
  }

  .col-sm {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .padding-md {
    padding: 60px 10px 60px 10px;
  }

  .mainNav {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    margin-top: -364px;
    transition: all 0.5s;
  }

  .mNav {
    width: 50%;
    height: 25%;
    background-color: #380438;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22pt;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }

  .mainNav > .container > .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: unset;
    padding: 10px 0;
  }

  .nav-link pt {
    font-size: 20pt;
    padding: 15px;
  }

  .nav-item {
    width: 100%;
  }

  .nav-logo {
    display: none;
  }

  .header {
    height: 100vh;
  }

  .ybuinfo,
  .stsinfo,
  .yrtinfo {
    margin-top: 20px;
  }

  .stsinfo {
    font-size: 33pt;
  }

  .yrtinfo {
    font-size: 40pt;
  }

  .rocketimg {
    padding-top: 75px;
  }
}

@media screen and (max-width: 494px) {
  .ybuinfo,
  .stsinfo,
  .yrtinfo {
    margin-top: 45px;
  }

  .ybuinfo {
    font-size: 18pt;
  }

  .stsinfo {
    font-size: 25pt;
  }

  .yrtinfo {
    font-size: 34pt;
  }
}

@media screen and (max-width: 390px) {
  .ybuinfo,
  .stsinfo,
  .yrtinfo {
    margin-top: 45px;
  }

  .ybuinfo {
    font-size: 14px;
  }

  .stsinfo {
    font-size: 20pt;
  }

  .yrtinfo {
    font-size: 30pt;
  }

  .footerHead p {
    font-size: 25pt;
  }

  .c-circle {
    padding: 10px;
  }

  .c-circle i {
    font-size: large;
  }
}

@media screen and (max-height: 817px) {
  .yrtinfo {
    font-size: 75pt;
  }
}

@media screen and (max-height: 817px) and (max-width: 992px) {
  .yrtinfo {
    font-size: 55pt;
  }
}

@media screen and (max-height: 817px) and (max-width: 768px) {
  .ybuinfo {
    font-size: 1.3rem;
  }

  .stsinfo {
    font-size: 30pt;
  }

  .yrtinfo {
    font-size: 41pt;
  }
}

@media screen and (max-height: 817px) and (max-width: 494px) {
  .ybuinfo {
    font-size: 1rem;
  }

  .stsinfo {
    font-size: 27pt;
  }

  .yrtinfo {
    font-size: 32pt;
  }
}

@media screen and (max-height: 757px) {
  .btlogo {
    top: 70px;
  }

  .ybuinfo {
    font-size: 1.8rem;
  }

  .stsinfo {
    font-size: 38pt;
  }
  .yrtinfo {
    font-size: 70pt;
  }
}

@media screen and (max-height: 757px) and (max-width: 992px) {
  .ybuinfo {
    font-size: 1.6rem;
  }

  .stsinfo {
    font-size: 36pt;
  }
  .yrtinfo {
    font-size: 55pt;
  }
}

@media screen and (max-height: 757px) and (max-width: 768px) {
  .ybuinfo {
    font-size: 1.2rem;
  }

  .stsinfo {
    font-size: 32pt;
  }
  .yrtinfo {
    font-size: 42pt;
  }
}

@media screen and (max-height: 757px) and (max-width: 494px) {
  .ybuinfo {
    font-size: 1rem;
  }

  .stsinfo {
    font-size: 23pt;
  }
  .yrtinfo {
    font-size: 27pt;
  }
}

@media screen and (max-height: 730px) {
  .yrtinfo {
    font-size: 67pt;
  }
}

@media screen and (max-height: 730px) and (max-width: 992px) {
  .ybuinfo {
    font-size: 1.6rem;
  }

  .stsinfo {
    font-size: 36pt;
  }
  .yrtinfo {
    font-size: 55pt;
  }
}

@media screen and (max-height: 730px) and (max-width: 768px) {
  .ybuinfo {
    font-size: 1.2rem;
  }

  .stsinfo {
    font-size: 32pt;
  }
  .yrtinfo {
    font-size: 42pt;
  }
}

@media screen and (max-height: 730px) and (max-width: 494px) {
  .ybuinfo {
    font-size: 1rem;
  }

  .stsinfo {
    font-size: 23pt;
  }
  .yrtinfo {
    font-size: 27pt;
  }
}


/* @media screen and (max-height: 608px) {
  .btlogo {
    top: 55px;
    padding: 50px;
  }

  .scName {
    padding: 88px;
  }

  .ybuinfo {
    font-size: 1.5rem;
  }

  .stsinfo {
    font-size: 34pt;
  }
  .yrtinfo {
    font-size: 59pt;
  }

  .btlogo {
    top: 55px;
    padding: 50px;
  }
} */

@media screen and (max-height: 680px) and (max-width: 1200px) {
  .ybuinfo {
    font-size: 1rem;
  }

  .stsinfo {
    font-size: 30pt;
  }
  .yrtinfo {
    font-size: 36pt;
  }
}

@media screen and (max-height: 680px) and (max-width: 992px) {
  .btlogo {
    top: 50px;
    padding: 15px;
  }
}

@media screen and (max-height: 680px) and (max-width: 767px) {
  .ybuinfo {
    font-size: 0.6rem;
  }

  .stsinfo {
    font-size: 16pt;
  }
  .yrtinfo {
    font-size: 19pt;
  }
}

@media screen and (max-height: 680px) and (max-width: 390px) {
  .stsinfo {
    font-size: 19pt;
  }
  .yrtinfo {
    font-size: 23pt;
  }
}