{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="btlogo" src="/img/BTLogo.png">
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Proje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sıralama</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Fotoğraflar</a>
            </li>
        </ul>
    </div>
</nav> --}}

<a class="helpus" href="" target="_blank">
    <pt class="text-center"> Bize destek olmak ister misiniz?</pt>
</a>

<nav class="">

    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#about">
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <p>Proje</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="#">
                    <img class="btlogo" src="/img/BTLogo.png">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <p>Sıralama</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">
                    <p>Fotoğraflar</p>
                </a>
            </li>
        </ul>
    </div>
</nav>


<section id="header">

    <div class="header">
        <div class="container">
            <div class="head-content-square">
                <div class="scName">
                    {{!-- <img class="aybulogo" src="img/aybulogo.png"> --}}
                    <h2 class="ybuinfo text-center wtxt">Ankara Yıldırım Beyazıt Üniversitesi</h2>
                    <p class="stsinfo text-center wtxt">Bilim ve Teknoloji Kulübü</p>
                    <p class="yrtinfo text-center wtxt">YILDIRIM ROKET TAKIMI</p>
                    <img class="rocketimg" src="img/rocket.png">
                </div>
            </div>
        </div>
    </div>

</section>


<section id="about">

    <div class="about padding-md">
        <div class="container">
            <div class="aboutHead">
                <div class="aboutHead-c">
                    <p class="text-center">Hakkımızda</p>
                    <div class="aboutHead-c-List">
                        <div class="ac1"></div>
                        <div class="ac2"></div>
                        <div class="ac3"></div>
                        <div class="ac4"></div>
                        <div class="ac5"></div>
                    </div>
                </div>
            </div>
            <div class="row cnt-padding">
                <div class="col-5">
                    <img class="aboutimg" src="img/aboutimg.png">
                </div>
                <div class="col-7">
                    <p class="all-c-w">Yaygın inancın tersine, Lorem Ipsum rastgele sözcüklerden oluşmaz. Kökleri
                        M.Ö.
                        45 tarihinden bu
                        yana klasik Latin
                        edebiyatına kadar uzanan 2000 yıllık bir geçmişi vardır. Virginia'daki Hampden-Sydney
                        College'dan
                        Latince profesörü
                        Richard McClintock, bir Lorem Ipsum pasajında geçen ve anlaşılması en güç sözcüklerden biri
                        olan
                        'consectetur'
                        sözcüğünün klasik edebiyattaki örneklerini incelediğinde kesin bir kaynağa ulaşmıştır. Lorm
                        Ipsum,
                        Çiçero tarafından
                        M.Ö. 45 tarihinde kaleme alınan "de Finibus Bonorum et Malorum" (İyi ve Kötünün Uç
                        Sınırları)
                        eserinin 1.10.32 ve
                        1.10.33 sayılı bölümlerinden gelmektedir. Bu kitap, ahlak kuramı üzerine bir tezdir ve
                        Rönesans
                        döneminde çok popüler
                        olmuştur. Lorem Ipsum pasajının ilk satırı olan "Lorem ipsum dolor sit amet" 1.10.32 sayılı
                        bölümdeki bir satırdan
                        gelmektedir.</p>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="project">

    <div class="project padding-md">
        <div class="container">
            <div class="projectHead">
                <div class="projectHead-c">
                    <p class="text-center">Proje</p>
                    <div class="projectHead-c-List">
                        <div class="pc1"></div>
                        <div class="pc2"></div>
                        <div class="pc3"></div>
                        <div class="pc4"></div>
                        <div class="pc5"></div>
                    </div>
                </div>
            </div>
            <div class="row cnt-padding">
                <div class="col-7">
                    <p class="all-c-w">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots
                        in a piece of
                        classical Latin literature
                        from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                        Hampden-Sydney College in Virginia,
                        looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                        going through the cites of
                        the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                        sections 1.10.32 and 1.10.33
                        of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45
                        BC.
                        This book is a treatise
                        on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
                        "Lorem ipsum dolor sit
                        amet..", comes from a line in section 1.10.32.

                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested.
                        Sections 1.10.32 and
                        1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                        original form, accompanied by
                        English versions from the 1914 translation by H. Rackham.</p>
                </div>
                <div class="col-5">
                    <img class="rocketgif" src="img/rocket.gif">

                </div>
            </div>
        </div>
    </div>

</section>


<section id="ranking">

    <div class="ranking padding-md">
        <div class="container">
            <div class="rankingHead">
                <div class="rankingHead-c">
                    <p class="text-center">Sıralama</p>
                    <div class="rankingHead-c-List">
                        <div class="rc1"></div>
                        <div class="rc2"></div>
                        <div class="rc3"></div>
                        <div class="rc4"></div>
                        <div class="rc5"></div>
                    </div>
                </div>
            </div>
            <div class="row cnt-padding">
                <img class="rankingimg" src="img/ranking.jpg">
            </div>
        </div>
    </div>

</section>


<section id="pictures">
    <div class="pictures padding-md">
        <div class="container">
            <div class="picHead">
                <div class="picHead-c">
                    <p class="text-center">Fotoğraflar</p>
                    <div class="picHead-c-List">
                        <div class="picc1"></div>
                        <div class="picc2"></div>
                        <div class="picc3"></div>
                        <div class="picc4"></div>
                        <div class="picc5"></div>
                    </div>
                </div>
            </div>
            {{!-- <div class="row cnt-padding ">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img class="pic" src="img/pic1.jpeg">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic2.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic3.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic4.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic5.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic6.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic7.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic8.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic9.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic10.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic11.jpeg"></div>
                <div class="col-sm-12 col-md-6 col-lg-4"><img class="pic" src="img/pic12.jpeg"></div>
            </div> --}}
            <div class="cnt-padding">
                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img src="img/pic4.jpeg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 6</div>
                    <img src="img/pic5.jpeg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 6</div>
                    <img src="img/pic6.jpeg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img src="img/pic8.jpeg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img src="img/pic11.jpeg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img src="img/pic13.jpeg" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                <div class="row">
                    <div class="column">
                        <img class="demo cursor wh" src="img/pic4.jpeg" onclick="currentSlide(1)" alt="The Woods">
                    </div>
                    <div class="column">
                        <img class="demo cursor wh" src="img/pic5.jpeg" style="width:100%" onclick="currentSlide(2)"
                            alt="Cinque Terre">
                    </div>
                    <div class="column">
                        <img class="demo cursor wh" src="img/pic6.jpeg" style="width:100%" onclick="currentSlide(3)"
                            alt="Mountains and fjords">
                    </div>
                    <div class="column">
                        <img class="demo cursor wh" src="img/pic8.jpeg" style="width:100%" onclick="currentSlide(4)"
                            alt="Northern Lights">
                    </div>
                    <div class="column">
                        <img class="demo cursor wh" src="img/pic11.jpeg" style="width:100%" onclick="currentSlide(5)"
                            alt="Nature and sunrise">
                    </div>
                    <div class="column">
                        <img class="demo cursor wh" src="img/pic13.jpeg" style="width:100%" onclick="currentSlide(6)"
                            alt="Snowy Mountains">
                    </div>
                </div>
                <br>
            </div>
        </div>
</section>


<section id="footer">

    <div class="footer padding-sm">
        <div class="container">
            <div class="footerHead">
                <div class="footerHead-c">
                    <p class="text-center">Bize Ulaşın</p>
                </div>
                <br><br>
            </div>
            <div class="contact">
                <a class="c-circle circle-instagram" href="https://www.instagram.com/yldrm_rocket/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="c-circle circle-tw" href="https://twitter.com/yldrm_rocket" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="c-circle circle-in" href="https://www.linkedin.com/in/yildirim-roket-takimi-4985101a7/"
                    target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="c-circle circle-mail">
                    <i class="far fa-envelope"></i>
                </a>
                <a class="c-circle circle-address">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
            </div>
            <div class="loc">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48927.80890855759!2d32.78500244190617!3d39.96401973054046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9a58173fbf172e99!2zQW5rYXJhIFnEsWxkxLFyxLFtIEJleWF6xLF0IMOcbml2ZXJzaXRlc2k!5e0!3m2!1str!2str!4v1587244071938!5m2!1str!2str"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>

                <p>Ayvalı, Gazze Cd. No:7, 06010 Keçiören/Ankara</p>
            </div>
        </div>
    </div>

</section>